<!DOCTYPE html>
<html>
<head>
    <link href="/Resources/css/bootstrap.min.css" rel="stylesheet" />
    <title>Title</title>
    <style>
        hr {
            height: 2px;
            background: #fff;
        }

        iframe {
            width: 100%;
            min-height: 250px;
            height: auto;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <header class="bg-success text-white container-fluid">
            <p class="title d-inline-block">IRunes</p>

            {{{nav}}}
        </header>

        <hr class="bg-success" />

        {{{content}}}

        <hr class="bg-success" />

        <footer class="text-center">
            <p><b>CopyRight &copy; Sanity Design Studios. All rights reserved.</b></p>
        </footer>
    </div>

    <script src="/Resources/js/jquery-3.4.1.min.js"></script>
    <script src="/Resources/js/popper.min.js"></script>
    <script src="/Resources/js/bootstrap.min.js"></script>
</body>
</html>