<div class="container-fluid row">
    <div class="col-md-6 col-lg-5 mx-auto">
        <h1 class="text-success text-center">Register</h1>

        <hr class="bg-success" />

        <form action="/Users/Register" method="POST">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="Username" placeholder="Username" class="form-control" />
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="Password" placeholder="Password" class="form-control" />
            </div>

            <div class="form-group">
                <label for="confirm-password">Confirm Password</label>
                <input type="password" id="confirm-password" name="ConfirmPassword"
                       placeholder="Confirm Password" class="form-control" />
            </div>

            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="Email" placeholder="Email" class="form-control" />
            </div>

            <p class="text-center">
                <input type="submit" value="Register" class="btn btn-sm btn-success" />
            </p>
        </form>
    </div>
</div>