<!DOCTYPE html>
<html>
<head>
    <link href="/wwwroot/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/wwwroot/css/site.css" rel="stylesheet" />
    <title>IRunes</title>
</head>
<body>
    <div class="container-fluid">
        <header class="bg-success text-white container-fluid">
            <a href="/" class="btn text-white">IRunes</a>

            @if (User == null)
            {
            <nav class="navbar navbar-expand-lg navbar-light d-inline-block">
                <ul class="navbar-nav mr-auto d-flex flex-row">
                    <li class="nav-item mr-3">
                        <a href="/" class="nav-link  text-white">Home</a>
                    </li>
                    <li class="nav-item mr-3">
                        <a href="/Users/Login" class="nav-link text-white">Login</a>
                    </li>
                    <li class="nav-item">
                        <a href="/Users/Register" class="nav-link text-white">Register</a>
                    </li>
                </ul>
            </nav>
            }
            @else
            {
            <nav class="navbar navbar-expand-lg navbar-light d-inline-block">
                <ul class="navbar-nav mr-auto d-flex flex-row">
                    <li class="nav-item mr-3">
                        <a href="/" class="nav-link  text-white">Home</a>
                    </li>
                    <li class="nav-item mr-3">
                        <a href="/Albums/All" class="nav-link  text-white">Albums</a>
                    </li>
                    <li class="nav-item mr-3">
                        <a href="/Users/Logout" class="nav-link  text-white">Logout</a>
                    </li>
                </ul>
            </nav>
            }
        </header>

        <hr class="bg-success" />

        @RenderBody()

        <hr class="bg-success" />

        <footer class="text-center">
            <p><b>CopyRight &copy; Sanity Design Studios. All rights reserved.</b></p>
        </footer>
    </div>

    <script src="/wwwroot/js/jquery-3.4.1.min.js"></script>
    <script src="/wwwroot/js/popper.min.js"></script>
    <script src="/wwwroot/js/bootstrap.min.js"></script>
</body>
</html>