<div class="row mb-4">
    <div class="col-md-4">
        <img src="{{{cover}}}" alt="Album cover" class="img-fluid" />
        <h5 class="text-center mt-4"><b>Album Name: {{{name}}}</b></h5>
        <h5 class="text-center"><b>Album Price: {{{price}}}</b></h5>
        
        <div class="d-flex justify-content-between">
            <a href="/Tracks/Create?albumId={{{albumId}}}" class="btn btn-sm btn-success">Create Track</a>
            
            <span class="text-right d-inline-block">
                <a href="/Albums/All" class="btn btn-sm btn-success">Back To All</a>
            </span>
        </div>
    </div>
    <span class="col-md-1"></span>
    <div class="col-md-7">
        <p>Tracks</p>

        {{{tracks}}}
    </div>
</div>